.center {
	position: relative;
	top: 200px;
	text-align: center;
	background-color: var(--df_gray);
	padding-top: 30px;
	margin: 130px auto;
	height: 310px;
	width: 700px;
	border-radius: 25px;
}

.input {
	margin: 20px;
	border: 1px solid white;
	padding: 1rem;
	border-radius: 28px;
	transition: 0.2s ease-in;
	text-align: center;
	width: 250px;
}

.input:hover {
	margin: 20px;
	border: 1px solid white;
	padding: 1rem;
	border-radius: 28px;
	text-align: center;
	width: 250px;
	background-color: var(--df_gray);
	color: white;
}

#label1 {
	position: absolute;
	right: 480px;
}
#label2 {
	position: absolute;
	left: 485px;
}

body {
	background: rgb(25, 23, 23);
	background: linear-gradient(90deg, rgba(25, 23, 23, 1) 0%, rgba(27, 24, 24, 1) 50%);
}
