.center {
	position: relative;
	top: 200px;
	text-align: center;
	background-color: #24252a;

	margin: 100px auto;
	height: 125px;
	width: 450px;
	border-radius: 25px;
}

.button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	text-decoration: none;
	background: #24252a;
	border-radius: 50px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 9px 25px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 80px;
}
.button:hover {
	background: #24252a;
	border: 1px solid rgb(222, 10, 10);
	color: rgb(222, 10, 10);
}

body {
	background-color: #de0a0a;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* navbar */

.nav ul {
	list-style: none;
	background-color: #24252a;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav li {
	display: inline-block;
}

.nav a {
	text-decoration: none;
	color: white;
	width: 100px;
	display: block;
	padding: 20px;
	font-size: 20px;
	transition: ease 0.5s;
}

.nav a:hover {
	color: #de0a0a;
}
